/* ----------------------------------------------------------
/* top
/* トップページのスタイル
/* ---------------------------------------------------------- */

.top_catch {
  height: 190px;
  position:relative;
  top:87px;
  background-image: url("../../assets/img/img_top.jpg");
  background-size:100%;
}

.top_catch-inner {
  max-width: 600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

.top_works {
  max-width: 1200px;
  margin: 100px auto;
}

.top_works-inner {
  width: $b-large-min;
  margin: 0 auto;
  @include mq-md {
    width: 100%;
  }
}

.top_about {
  background-color: #F5F5F5;
}

.top_about-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 40px 60px;
  @include mq-sm {
    background-color: white;
    padding: 16px;
    flex-wrap: wrap-reverse;
  }
}

.top_contact {
  background-color: #F5F5F5;
}

.top_contact-inner {
  background-color: #000099;
  padding: 40px 60px;
  text-align: center;
  .txtdec01 {
    color:white;
    text-shadow:1px 1px 0 black,-1px 1px 0 black,1px -1px 0 black,-1px -1px 0 black;
  }
}
